<header class="row">
  <h1 class="text-center col-md-6 col-md-offset-3">Network Scanner</h1>
</header>
<div ng-controller="RecipesController">
  <section class="row">
    <form>
      <h2 class="text-center">IP to scan</h2>
      <div class="form-group col-md-6 col-md-offset-3">
        <label for="keywords" class="sr-only">Keywords</label>
        <input type="text" autofocus class="form-control" placeholder="IP like 192.168.1.1" ng-model="ip.value">
      </div>
      <div class="form-group col-md-6 col-md-offset-3 text-center">
        <input class="btn btn-primary btn-lg" type="submit" ng-click="search(ip)" value="Search" />
      </div>
    </form>
  </section>
  <hr>
  <section class="row">
    <h1 class="text-center h2">Results</h1>
      <table class="table table-striped col-md-6">
        <tr>
          <td>Port</td>
          <td>Service</td>
          <td>Status</td>
        </tr>
        <tr ng-repeat="result in results">
          <td>{{result.port}}</td>
          <td>{{result.service}}</td>
          <td>{{result.status}}</td>
        </tr>
      </table>

    <div class="">
      <p class="text-center">
        {{results.status}}
      </p>
    </div>
  </section>
</div>
